@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* ---font--- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}


body {
  font-family: 'Pretendard', sans-serif;
  font-weight: 100;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: all 0.4s ease;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

body.active {
  background-color: white;
  color: black;
  font-weight: 200;
}




/* ---setting--- */

#top {
  width: 100%;
  height: 30px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  overflow: hidden;
}

#top>a {
  display: block;
  width: 30%;
  padding: 10px 0;
}

#top>ul {
  text-align: center;
  width: 50%;
}


#top>ul>li>a {
  display: block;
  padding: 10px 0;
  width: 100%;
}

/*필요스타일시작*/

/*햄버거 버튼모양*/
#hamburger{
  display: none;
}

.slide-open {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  cursor: pointer;
  z-index: 99;
  background: rgba(208, 208, 208, 0.06);
  backdrop-filter: blur(5px);
}

.slide_logo_warp{
  width: 20%;
  padding: 10px 0px 0px 10px;
}

.slide_logo_warp >a> img{
  width: 100%;
}

.burgur {
  right: 15px;
  top: 23px;
  position: fixed;
  width: 20px;
  height: 2px;
  background: #ffffff;
}

.burgur .top-line {
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  bottom: -5px;
  content: '';
  position: absolute;
  right: 0;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;

}

.burgur .bot-line {
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  top: -5px;
  content: '';
  position: absolute;
  right: 0;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}

.burgur.active {
  background-color: #000000;
}

.top-line.active {
  background-color: #000000;
}

.bot-line.active {
  background-color: #000000;
}

.burgur.on {
  width: 0;
}

.burgur.on .bot-line {
  -webkit-transform: translateY(5px) rotate(135deg);
  transform: translateY(5px) rotate(135deg);
}

.burgur.on .top-line {
  -webkit-transform: translateY(-5px) rotate(-135deg);
  transform: translateY(-5px) rotate(-135deg);
}

/*메뉴부분 모양*/
.slide {
  padding-top: 50px;
  width: 100%;
  /*이 너비에 따라 보이는 부분이 변화함*/
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  -webkit-transition: right .3s;
  -moz-transition: right .3s;
  -ms-transition: right .3s;
  -o-transition: right .3s;
  transition: right .3s;
  background-color: #ffffff;
  background: rgba(116, 116, 116, 0.06);
  backdrop-filter: blur(10px);
  z-index: 90;
}


.slide.on {
  right: 0;
}

.slide ul li {
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
  width: 80%;
  padding: 25px;

}
.slide ul li:nth-child(7){
  margin-top: 10%;
}

.slide ul li img{
  width: 100%;
}


@media(max-width: 1200px) {
  #top {
    width: 50%;
    transition: all 0.5s
  }
}

@media(max-width: 600px) {
  #top {
    width: 80%;
    transition: all 0.5s;
    margin-top: 50px;
  }
  #hamburger{
    display: block;
    width: 0%;
    background-color: transparent
  }
}

/* ---공지사항 end--- */

#con1 {
  width: 90%;
  margin: 0 auto;
  transition: all 0.5s;
  display: flex;
}

.gnb {
  width: 20%;
  position: sticky;
  padding-top: 100px;
  top: 0;
  height: 100vh;
  transition: all 0.5s;
}

.gnb>a>img {
  width: 100%;
}

.gnb>a>h1 {
  font-size: 2vw;
  text-align: right;
}

.gnb>ul>li>a {
  display: block;
  padding: 0.3vw 0;
  margin: 0.2vw 0;
}

.gnb1 {
  text-align: right;
  font-size: 1.5vw;
  margin: 3vw 0 2vw 0;
  font-weight: 500;
}

.gnb2 {
  font-size: 1.5vw;
  font-weight: 400;
  color: #84848480;
}

#con_right {
  width: 75%;
  margin-left: 5%;
}

#con_right h1 {
  font-size: 33px;
}

#con_right>.swiper {
  width: 100%;
  height: 42vw;
  margin-top: 100px;
}

.mySwiper1>.swiper-slide {
  position: relative;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.mySwiper1>.swiper-wrapper>.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.mySwiper1>.swiper-wrapper>.swiper-slide>a {
  display: block;
  width: 100%;
  height: 100%;
}

.slide-title {
  font-family: 'Pretendard', sans-serif;
  font-size: 2vw;
  font-weight: 300;
  color: rgb(255, 255, 255);
  padding: 1.4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(1vw);
  transition: all 0.5s
}

.mySwiper1>.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.mySwiper1>.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rota\te(-90deg);
}

.autoplay-progress {
  color: #fff !important;
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 15px 5px;
  border-radius: 20px;
  color: #fff !important;
}

.swiper-pagination-bullet {
  background: #fff !important;
}

@media (max-width: 1200px) {
  .slide-title {
    font-size: 1.7vw;
    padding: 1.1rem;
    transition: all 0.5s
  }

  #con1 {
    width: 95%;
    transition: all 0.5s;
  }

  .swiper-button-prev,
  .swiper-button-next {
    scale: 0.8;
  }
}


@media (max-width: 600px) {
  .slide-title {
    font-size: 12px;
    padding: 0.6rem;
  }

  #con1 {
    width: 100%;
    transition: all 0.5s;
  }

  #con_right {
    width: 100%;
    margin-top: 0;
    margin-left: 0px;
  }

  .gnb {
    display: none;
    width: 0%;
  }

  #con_right>.swiper {
    width: 100%;
    margin-top: 0;
    transition: all 0.5s
  }

  .mySwiper1>.swiper-wrapper>.swiper-slide img {
    height: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    scale: 0.5;
  }
}

/* ---con1 end--- */

#con2 {
  width: 100%;
  margin: 0 auto 60px 0;
  padding-top: 15%;

}

#con2>ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}

#con2>ul>li {
  width: 30%;
  overflow: hidden;
  margin-bottom: 20px;
}

#con2>ul>li>a {
  display: block;
  width: 100%;
  height: 100%;
}

#con2>ul>li>a>img {
  width: 100%;
}

.poster_box {
  width: 100%; /* 반응형 부모 안에서 크기 맞춤 */
  aspect-ratio: 1 / 1; /* 정사각형 유지 (300x300 같은 효과) */
  overflow: hidden;
  position: relative;
}

.poster_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.poster_box:hover img {
  transform: scale(1.1); /* 이미지만 확대 */
}


#con2>ul>li>a>p {
  font-size: 24px;
  margin-top: 0.2vw;
}

.br {
  width: 100%;
}

.br>img {
  width: 100%;
}

@media (max-width: 1200px) {
  #con2>ul>li>a>p {
    font-size: 18px;
  }
  #con2>ul {
    flex-wrap: wrap;
  }
  #con2>ul>li {
    width: 45%;
  }
}

@media (max-width: 600px) {
  #con2>ul>li>a>p {
    font-size: 14px;
  }
  #con2{
    width: 90%;
    align-items: center;
    margin: 0 auto;
    
  }
}


/* con2 end */

#con3 {
  width: 100%;
  margin: 60px auto;
}

#con3>p {
  font-size: 24px;
  margin-top: 10px;
}

#con3>p>span {
  text-decoration: underline 1px solid #ffffff;
}

#con3>h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 26px;
}

#con3>ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
}

#con3>ul>li {
  width: 20%;
}

#con3>ul>li>p {
  font-size: 24px;
}

#con3>ul>li>h3 {
  font-size: 24px;
}

@media (max-width: 1200px) {
  #con3>p {
    font-size: 20px;
  }

  #con3>ul>li>p {
    font-size: 16px;
  }

  #con3>ul>li>h3 {
    font-size: 26px;
  }

  #con3>ul>li>h3 {
    font-size: 20px;
  }

  #con3>h2 {
    font-size: 22px;
  }

}

@media (max-width: 600px) {
  #con3 {
    margin: 50px auto;
    width: 95%;
    transition: all 0.5s;
  }

  #con3>p {
    font-size: 16px;
  }

  #con3>ul>li {
    width: 45%;
    margin-top: 10px;
  }

  #con3>ul>li>p {
    font-size: 12px;
  }

  #con3>ul>li>h3 {
    font-size: 16px;
  }

  #con3>h2 {
    font-size: 18px;
  }
}

/* con3 end */

#con4 {
  width: 100%;
  margin: 60px auto;
  box-sizing: border-box;
}

#con4>p {
  font-size: 24px;
  margin-top: 10px;
}

.con4_warp {
  display: flex;
  margin-top: 50px;
}

.con4_warp>ul {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.con4_warp>ul>li {
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
}

.con4_warp>.swiper {
  width: 100%;
  margin-left: 5%;

}



.mySwiper2>.swiper-wrapper>.swiper-slide {
  background-position: center;
  background-size: cover;
}

.mySwiper2>.swiper-wrapper>.swiper-slide img {
  display: block;
  width: 100%;
}



@media (max-width: 1200px) {
  .con4_warp>.swiper {
    margin-left: 2%;
  }

  #con4>p {
    font-size: 20px;
  }

  .con4_warp>ul {
    width: 23%;
  }

}

@media (max-width: 600px) {
  #con4 {
    width: 95%;
  }

  #con4>p {
    font-size: 16px;
  }

  .con4_warp>ul>li {
    font-size: 12px;
  }
    .con4_warp{
    flex-direction: column;
    margin: 0 auto;

  }
  .con4_warp>ul{
    flex-direction:row;
    width: 100%;
    justify-content: center;
  }
   .con4_warp>ul>li{
    width: 40%;
   }
   .con4_warp>.swiper{
    margin-left: 0;
   }
}

/* con4 end */

#con5 {
  margin: 60px auto;
}

#con5>p {
  font-size: 24px;
  margin-top: 10px;
}


.more,
.hide {
  text-align: center;
  font-size: 16px;
  padding: 20px 0;
  transition: all 0.3s;
}

.more:hover,
.hide:hover {
  opacity: 0.8;
  transition: all 0.3s;
}

.info {
  overflow: hidden;
  padding: 15px 10px;
  border-top: 1px solid #ccc;
}

.notice2>ul>li:nth-child(4) {
  border-bottom: 1px solid #ccc;
}

.info_in {
  float: left;
  font-size: 22px;
  font-weight: 500;
}

.plus {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.text_info {
  padding: 10px;
  display: none;
  margin-bottom: 20px;
  line-height: 150%;
  font-size: 18px;
}

.turn .title img {
  transform: rotate(45deg);
}

.plus img {
  transition: transform 0.5s;
}

.notice {
  margin: 50px auto 0 auto;
}

@media (max-width: 1200px) {
  #con5>p {
    font-size: 20px;
  }

  .info_in {
    font-size: 20px;
  }

  .info {
    padding: 11px 10px;
  }
}

@media (max-width: 600px) {
  #con5 {
    width: 95%;
  }

  #con5>p {
    font-size: 16px;
  }

  .info_in {
    font-size: 16px;
  }

  .info {
    padding: 7px 10px;
  }
}

/* con5 end */

#con6 {
  margin: 60px auto;
}

#con6>ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#con6>ul>li {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 12%;
}

#con6>ul>li>a:hover {
  opacity: 0.4;
  transition: all 0.3s;
}

#con6>ul>li>h3 {
  margin-bottom: 15px;
  font-size: 24px;
}

#con6>ul>li>a {
  display: block;
  padding: 4px 0;
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  #con6>ul>li {
    width: 25%;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  #con6 {
    width: 95%;
  }

  #con6>ul>li {
    width: 50%;
    margin-top: 10px;
  }
}


/* con6 end */

#footer {
  margin: 60px auto;

}

#footer p {
  padding: 5px 0;
}

#footer>ul>li:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}


#footer>ul>li:nth-child(3)>.sns1>a>img {
  width: 13%;
  margin: 5px;

}

#footer>ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer>ul>li {
  width: 30%;
  text-align: center;
}

#footer>ul>li>img {
  width: 100%;
}

.sns1>a:hover{
  opacity: 0.7;
  transition: all 0.2s;
}


@media (max-width: 1200px) {
  #footer>ul>li:nth-child(3)>.sns1>a>img {
    width: 17%;
    margin: 4px;
  }
}

@media (max-width: 600px) {
  #footer {
    width: 95%;
    font-size: 12px;
  }
  #footer>ul>li:nth-child(3)>.sns1>a>img {
    width: 20%;
    margin: 3px;
  }
}